/* Color Theme Swatches in Hex */
.Spel-1-hex {
	color: #edcb4e;
}
.Spel-2-hex {
	color: #ff805a;
}
.Spel-3-hex {
	color: #46555e;
}
.Spel-4-hex {
	color: #4f787d;
}
.Spel-5-hex {
	color: #89d4d3;
}

#app {
	background-color: #4f787d;
	height: 100vh;
	width: 100vw;
	font-family: 'Roboto Mono', monospace;
}

.hide {
	display: none !important;
}

#start {
	display: flex;
	height: 100vh;
	align-items: center;
}

#playername-form {
	margin: 0 auto;
	text-align: center;
}

#game-wrapper {
	display: flex;
	height: 100vh;
}

#game {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	border-right: 1px solid #46555e;
}

#game-board {
	display: flex;
	height: 500px;
	width: 800px;
	background-color: #89d4d3;
	margin: auto;
	margin-top: auto;
}

#app .alert {
	margin: auto;
	background-color: #edcb4e;
	color: #46555e;
	border-color: #edcb4e;
	padding: 2rem 5rem;
}
#game .alert h2 {
	font-size: 1.5rem;
}
#game .alert h3 {
	font-size: 2rem;
}

#score {
	background-color: #46555e;
	flex-basis: 20%;
	color: white;
}

#score h2 {
	padding: 1rem 0.75rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

/* #score {
	margin: 0;
	padding: 0.5rem 0.75rem;
} */

#online-players {
	background-color: #ff805a;
	padding: 0.5rem 0;
	margin: 0 0.5rem;
	border-color: #46555e;
}

#game-board img {
	width: 30px;
	height: 30px;
	display: none;
	position: relative;
}

#too-many-players,
#opponant-left {
	display: flex;
	height: 100vh;
}
