.hide {
	display: none !important;
}

#app {
	background-color: #4f787d;
	height: 100vh;
	width: 100vw;
	font-family: 'Roboto Mono', monospace;
}

#game {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	border-right: 1px solid #46555e;
}

#game .alert h2 {
	font-size: 1.75rem;
	padding-top: 1rem;
}

#game-board {
	display: flex;
	height: 500px;
	width: 800px;
	background-color: #89d4d3;
	margin: auto;
	margin-top: auto;
}

#game-board img {
	width: 30px;
	height: 30px;
	display: none;
	position: relative;
}

#game-over-alert,
#opponant-left-alert {
	margin: auto;
	background-color: #edcb4e;
	color: #46555e;
	border-color: #edcb4e;
	padding: 2rem 5rem;
	margin-bottom: 1rem;
}

#game-over,
#opponant-left,
#playername-form {
	margin: 0 auto;
	text-align: center;
}

#game-over,
#opponant-left,
#too-many-players {
	display: flex;
	height: 100vh;
	flex-direction: column;
}

#game-over .btn,
#opponant-left .btn {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
}

#game-wrapper {
	display: flex;
	height: 100vh;
}

#online-players {
	background-color: #ff805a;
	padding: 0.5rem 0;
	margin: 0 0.5rem;
	border-color: #46555e;
}

#score {
	background-color: #46555e;
	flex-basis: 20%;
	color: white;
}

#score h2 {
	padding: 1rem 0.75rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

#start {
	display: flex;
	height: 100vh;
	align-items: center;
}

#too-many-players-alert {
	margin: auto;
	background-color: #edcb4e;
	color: #46555e;
	border-color: #edcb4e;
	padding: 2rem 5rem;
}
